@font-face {
    font-family: 'rolina';
    font-style: normal;
    font-weight: 400;
    src: url(/Fonts/Rolina.woff);
}

@font-face {
    font-family: 'Metal Head';
    font-style: normal;
    font-weight: 400;
    src: url(/Fonts/MetalHead.woff);
}

/* Contact Page */
.addressText {
    color: inherit;
    text-shadow:1px 1px rgba(31, 35, 255, 0.795);
    text-decoration: underline;
}

#sendBtn {
    font-size: 26pt;
    background-color: rgba(0,0,0,.9);
    color: rgb(242, 215, 133);
    text-shadow:2px 1px rgba(0,0,0, 0.938);
    border-radius: 5px;
}
/* END Contact Page */


/* Menu Stuff */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#menu {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    visibility: hidden;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    transition: background-color .5s;
}

.menuButtonPos {
    padding-left: 10px;
    padding-right: 10px;
}

#openButton {
    padding-top: 10px;
}

.menuButton {
    position: fixed;
    height: 50px;
    width: 50px;
}

.buttonMod {
    border: none;
    outline: none;
    background: none;
}

#menuList {
    padding-top: 20%;
}

.liPos {
    padding-bottom: 50px;
}

.menuItems {
    text-decoration: none;
    font-family: 'Metal Head', sans-serif;
    font-size: 22pt;
    color: rgb(9, 255, 0);
    transition: color .5s;
}

.menuItems:hover {
    color: rgb(4, 109, 0);
}
/* END Menu Stuff */


/* Merch Stuff */
.noBuffer {
    padding: 0;
    margin: 0;
}

form {
    display: inline-block;
}

.featuredItem {
    width: 70%;
    height: auto;
}

.merchItem {
    width: 70%;
    height: 150px;
}

p {
    font-size: 24pt;
    font-family: 'rolina', sans-serif;
    color: rgb(0, 0, 0);
    text-shadow:2px 1px rgba(242, 215, 133, 0.938); 
}

.merchName {
    font-size: 16pt;
    font-family: 'rolina', sans-serif;
    color: rgb(0, 0, 0);
    text-shadow:2px 1px rgba(242, 215, 133, 0.938); 
}

/* TODO: Removed merch titles, delete this later if not needed */
.merchTitle {
    font-size: 26pt;
    font-family: 'rolina', sans-serif;
    color: rgb(0, 0, 0);
    text-shadow:2px 1px rgba(242, 215, 133, 0.938);
    text-decoration: underline;
    padding-bottom: 10px;
}

.addToCart {
    border-radius: 5px;
    border: none;
    background-color: rgb(77, 165, 33);
    color: rgb(0, 0, 0);
    font-style: italic;
    font-size: 14pt;
}

/* For t-shirts */
.sizes {
    margin: 5px;
}

.myCol {
    float: left;
    width:50%;
}

.myRow:after {
    content: "";
    display: table;
    clear: both;
}

/* END Merch Stuff */


/* Cart Stuff */
#shoppingCart {
    position: relative;
    overflow-y: auto;
    height: 90%;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 95;
    visibility: hidden;
    transition: background-color .5s;
}

#shoppingCartBg {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 90;
    visibility: hidden;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    transition: background-color .5s;
}

#cartTitle {
    text-align: center;
    font-size: 24pt;
    font-family: 'rolina', sans-serif;
    color: rgb(0, 0, 0);
    text-shadow:2px 1px rgba(242, 215, 133, 0.938);
    text-decoration: underline;
}

#cartContents {
    position: relative;
    /* overflow: scroll; */
}

.cartImg {
    position: absolute;
    margin-top: 12px;
    margin-left: 10px;
    float: left;
    height: 50px;
    width: 50px;
    border-radius: 5px;
}

.cartItem {
    font-size: 16pt;
    position: relative;
    text-align: center;
    margin: 0;
    padding: 0;
}

.itemQuantAdjUl {
    list-style: none;
}

.itemQuantAdjLi {
    display: inline-block;
    font-size: 16pt;
    font-family: 'rolina', sans-serif;
    color: rgb(0, 0, 0);
    text-shadow:2px 1px rgba(242, 215, 133, 0.938); 
}

.minusBtn {
    padding: 0px;
    font-size: 14pt;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    border-radius: 5px 0px 0px 5px;
    border-width: 2px;
    border-style: solid none solid solid;
    border-color: black;
    text-decoration: none;
}

.minusBtn:active {
    background-color: rgb(190, 190, 190);
}

.quantText {
    padding: 0px;
    font-size: 14pt;
    padding-left: 5px;
    padding-right: 5px;;
    text-align: center;
    border-radius: 0px;
    border: 2px solid black;
}

.plusBtn {
    padding: 0px;
    font-size: 14pt;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    border-radius: 0px 5px 5px 0px;
    border-width: 2px;
    border-style: solid solid solid none;
    border-color: black;
    text-decoration: none;
}

.plusBtn:active {
    background-color: rgb(190, 190, 190);
}

.cartPrice {
    position: absolute;
    right: 20px;
}

#cartTotal {
    margin-top: 10px;
    z-index: 96;
}

#buyBtnLoc {
    position: absolute;
    background-color: rgb(90, 243, 52);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    bottom: 5%;
    left: 50%;
    z-index: 96;
    transform: translate(-50%, 0%);
}

#buyBtn {
    font-family: 'rolina', sans-serif;
    font-size: 22pt;
    text-shadow: 2px 1px rgb(242, 215, 133);
    color: rgba(0,0,0, 0.938);
    background-color: rgb(0, 38, 255);
    border-radius: 10px;
    margin: 10px;
    position: relative;
    height: 50px;
    width: 65vw;
}

#closeCartBtn {
    top: 2%;
    left: 2%;
    position: absolute;
    z-index: 96;
}

#closeBtnImg {
    height: 50px;
    width: 50px;
}

#viewCartBtn {
    position: fixed;
    bottom: 60px;
    right: 60px;
}

/* Secure Checkout Text and Image */
.smallPrint {
    font-size: 10pt;
    font-style: italic;
}

.smallPrintImg {
    height: 12pt;
    width: auto;
    margin-bottom: 3px;;
}
/* END Cart Stuff */


#bandnameTitle {
    font-size: 24pt;
    font-family: 'Metal Head', sans-serif;
    color: rgb(255, 0, 47);
    text-shadow: 3px 2px rgba(255, 255, 255, 0.842);
}

.contentText {
    font-size: 30pt;
    font-family: 'rolina', sans-serif;
    color: rgb(0, 0, 0);
    text-shadow:2px 1px rgba(242, 215, 133, 0.938);
}

.contentStartBuffer {
    padding: 10px;
}

.centered {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.titleText {
    font-size: 24pt;
    font-family: 'Metal Head', sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
}

.smallLogo {
    position: absolute;
    padding-top: 5px;
    right: 20px;
    width: 45px;
    height: 45px;
}

.imgParent {
    position: relative;
}

.albumThumb {
    position: relative;
    width: 150px;
    height: 150px;
}

.playPauseButton {
    position: absolute;
    padding-top: 20px;
    padding-left: 20px;
    width: 130px;
    height: 130px;
    z-index: 1;
}

.socialButtons {
    width: 20%;
    height: auto;
}

.socialBar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0,0,0,.5);
    width: 276px;
    height: 55px;
    border-radius: 15px;
}

.socialBarButton {
    position: relative;
    margin-left: 7px;
    margin-top: 2px;
    padding: 4px;
    width: auto;
    height: 50px;
}

/* Mobile CSS */
@media only screen and (max-width: 600px) {
    .nav-link:hover {
        color:rgb(0, 78, 180)
    }
    .logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        height: auto;
    }

    .videos {
        width: 90%;
        height: 300px;
        padding: 10px;
    }

    .home {
        background-image: url("/SiteImages/waves.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color:rgb(122, 164, 255);
    }
    
    .merch {
        background-image: linear-gradient(to top, red , yellow);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    
    .media {
        background-image: url("/BandImages/wwwLetters.png");
        background-position: center;
        background-size: contain;
        background-attachment: fixed;
        background-color: rgb(207, 42, 56);
    }
    
    .contact {
        background-image: linear-gradient(to right,rgb(0, 0, 0) ,rgb(255, 255, 255), rgb(0,0,0));
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}


/* Larger Display CSS */
@media only screen and (min-width: 600.1px) {
    .logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 400px;
        height: auto;
    }

    .videos {
        width: 75%;
        height: auto;
        padding: 10px;
    }

    .home {
        background-image: url("/SiteImages/waves.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color:rgb(255, 253, 122);
    }
    
    .merch {
        background-color: indigo;
    }
    
    .media {
        background-image: url("/BandImages/wwwLetters.png");
        background-position: center;
        background-size: contain;
        background-attachment: fixed;
        background-color: rgb(197, 74, 85);
    }
    
    .contact {
        background-color: salmon;
    }
}
